name: Gerador de Bootstrap TCLabs
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Baixar o arquivo original
        run: |
          # Baixa o bootstrap original que funciona
          curl -L "github.com" -o original.zip
          unzip original.zip -d pasta_bootstrap

      - name: Mudar o pacote de com.termux para o seu
        run: |
          # Procura todos os arquivos e troca o texto com.termux pelo seu pacote
          find pasta_bootstrap -type f -exec sed -i 's/com.termux/com.tclabs.codestudio/g' {} +
          
      - name: Criar o seu arquivo ZIP
        run: |
          cd pasta_bootstrap
          zip -r ../bootstrap-tclabs.zip .
          
      - name: Te entregar o arquivo
        uses: actions/upload-artifact@v4
        with:
          name: meu-bootstrap-pronto
          path: bootstrap-tclabs.zip

