name: Build Custom Bootstrap TCLabs

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04 # Mudança para versão mais estável
    steps:
      - name: Limpeza Extrema de Disco
        run: |
          set -x
          sudo rm -rf /usr/share/dotnet /usr/local/lib/android /opt/ghc /usr/local/share/boost /usr/lib/mono /usr/local/lib/node_modules /opt/hostedtoolcache/CodeQL
          docker image prune -a -f
          df -h

      - name: Checkout do Código
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Modificar Pacote e Iniciar Compilação
        run: |
          set -e
          # Força o diretório como seguro para o Git
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          
          # Altera o pacote para o seu
          sed -i 's/TERMUX_APP_PACKAGE="com.termux"/TERMUX_APP_PACKAGE="com.tclabs.codestudio"/g' ./scripts/properties.sh
          
          echo "[-] Pacote alterado. Iniciando build..."
          
          # Executa apenas para aarch64 (celulares modernos) para evitar queda por recurso
          ./scripts/run-docker.sh ./scripts/build-bootstraps.sh --architectures aarch64

      - name: Upload do ZIP
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: bootstrap-tclabs-aarch64
          path: "*.zip"

